<h1>All Users</h1>
<table>
  <thead>
    <th>Email</th>
    <th>View?</th>
    <th>Delete?</th>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td><%= user.email %></td>
        <td>
          <form action=<%= user_url(user) %> method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="GET">
            <input type="submit" value="View">
          </form>
        </td>
        <td>
          <form action=<%= user_url(user) %> method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>