<div 
  class="cat_card"
  style="background-color: <%= cat.color %>;"
>
  <h1><%= cat.name %></h1>
  <h3><%= cat.age %></h3>
  <h3><%= cat.sex %></h3>
  <p><%= cat.description %></p>
  <a href=<%= cats_url %>>All Cats</a>
</div>