<a href=<%= cats_url %>>Back to all cats</a>
<% cur_color = spec_cat.color %>
<% cur_sex  = spec_cat.sex %>
<% hidden_tag = action == :edit ? "<input type='hidden' name='_method' value='PATCH'>" : ''%>
<form 
  action=<%= action == :new ? cats_url(spec_cat) : cat_url(spec_cat) %> 
  method='POST'
  style="display: flex; flex-direction: column; max-width: 300px;"
>
  <%= hidden_tag.html_safe %>
  <label for="name">Name </label>
  <input type="text" name="cat[name]" value=<%= spec_cat.name %>>
  <br>
  <label for="birth_date">Birthday</label>
  <input type="date" name="cat[birth_date]" value=<%= spec_cat.birth_date %>>
  <br>
  <label for="color">Color</label>
  <select name="cat[color]" id="color">
    <%= render 'color_options', cat_object: spec_cat %>
  </select>
  <p><strong>Select Sex</strong></p>
  <div>
    <label for="sex">Male</label>
    <input type="radio" name="cat[sex]" id="M" value="M" <%= cur_sex == 'M' ? 'checked' : '' %>>
  </div>
  <div>
    <label for="sex">Female</label>
    <input type="radio" name="cat[sex]" id="F" value="F" <%= cur_sex == 'F' ? 'checked' : '' %>>
  </div>
  <br>
  <strong><label for="description">Description</label></strong>
  <textarea name="cat[description]" id="description" cols="30" rows="10"><%= spec_cat.description %></textarea>
  <br>
  <input type="submit" name="submit" id="submit">
</form>